

%share-style {
    padding: $card-spacer-y $card-spacer-x;
    background-color: rgba(0,0,0,.03);
}

.card {
    display: flex;
    flex-direction: column;
    background-color:$white-color;
    border: $card-border-width solid $card-border-color;
    border-radius: $card-border-raduis;

    .card-header {
        @extend %share-style;
        border-bottom:$card-border-width solid $card-border-color;
    }

    .card-body {
        padding:$card-spacer-x;

        .card-title {
            margin-bottom: $card-spacer-y + .2rem;
            font-size: $font-size-large;
            font-weight: $font-weight-bold;
        }
    }

    .card-footer {
        @extend %share-style;
        border-top:$card-border-width solid $card-border-color;

    }
}