

@mixin flex {
    display: flex;         
    //NEW, Spec - Firefox, Chrome, Opera 
    display: -webkit-box;  
    // OLD - iOS 6-, Safari 3.1-6, BB7 
    display: -ms-flexbox;  
    //TWEENER - IE 10 
    display: -webkit-flex; 
    // NEW - Safari 6.1+. iOS 7.1+, BB10 
}

@mixin border($side,$value) {
    border-#{$side}: $value;
}